node_modules
dist
.env
.env.local
*.log
functions/node_modules
.firebase
firebase-debug.log
firestore-debug.log
ui-debug.log

# Local Netlify folder
.netlify

.env.production
functions/.env.debu-office
